result
result/*

result/__MACOSX
result/__MACOSX/*

venv
venv/*
venv/**/*

reload.py

data/**/json_dump.dat

data/**/MTrips_gas_predict.csv
data/**/MTrips_electric_predict.csv
data/**/Trips_gas_predict.csv
data/**/Trips_electric_predict.csv

*.pyc

.idea
.idea/*
.idea/**/*

__pycache__
__pycache__/*
__pycache__/**/*

.DS_Store
**/.DS_Store