branca==0.4.1
certifi==2020.6.20
chardet==3.0.4
cplex==12.10.0.0
dill==0.3.2
docloud==1.0.375
folium==0.11.0
geographiclib==1.50
geopy==2.0.0
idna==2.10
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.0
pandas==1.0.5
pandas-datareader==0.9.0
polyline==1.4.0
psutil==5.7.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
Shapely==1.7.0
six==1.15.0
termcolor==1.1.0
urllib3==1.25.9
